In [3]:
import pandas as pd

In [4]:
dataset = pd.read_csv("data/Mental_Health_and_Social_Media_Balance_Dataset.csv")
dataset.head()

,User_ID,Age,Gender,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Social_Media_Platform,Happiness_Index(1-10)
0,U001,44,Male,3.1,7.0,6.0,2.0,5.0,Facebook,10.0
1,U002,30,Other,5.1,7.0,8.0,5.0,3.0,LinkedIn,10.0
2,U003,23,Other,7.4,6.0,7.0,1.0,3.0,YouTube,6.0
3,U004,36,Female,5.7,7.0,8.0,1.0,1.0,TikTok,8.0
4,U005,34,Female,7.0,4.0,7.0,5.0,1.0,X (Twitter),8.0

In [5]:
dataset.columns

Index(['User_ID', 'Age', 'Gender', 'Daily_Screen_Time(hrs)',
       'Sleep_Quality(1-10)', 'Stress_Level(1-10)',
       'Days_Without_Social_Media', 'Exercise_Frequency(week)',
       'Social_Media_Platform', 'Happiness_Index(1-10)'],
      dtype='object')

In [6]:
x = dataset.drop(columns=['Happiness_Index(1-10)'],axis=1)
y = dataset["Happiness_Index(1-10)"]

In [7]:
# Checking null values
dataset.isnull().sum()

User_ID                      0
Age                          0
Gender                       0
Daily_Screen_Time(hrs)       0
Sleep_Quality(1-10)          0
Stress_Level(1-10)           0
Days_Without_Social_Media    0
Exercise_Frequency(week)     0
Social_Media_Platform        0
Happiness_Index(1-10)        0
dtype: int64

+ Insight
+ There is no null values

In [15]:
dataset.rename(columns={
    "Daily_Screen_Time(hrs)": "Daily_Screen_Time",
    "Sleep_Quality(1-10)": "Sleep_Quality",
    "Stress_Level(1-10)": "Stress_Level",
    "Exercise_Frequency(week)": "Exercise_Frequency",
    "Happiness_Index(1-10)": "Happiness_Index"
}, inplace=True)

In [16]:
dataset.head()

,User_ID,Age,Gender,Daily_Screen_Time,Sleep_Quality,Stress_Level,Days_Without_Social_Media,Exercise_Frequency,Social_Media_Platform,Happiness_Index
0,U001,44,Male,3.1,7.0,6.0,2.0,5.0,Facebook,10.0
1,U002,30,Other,5.1,7.0,8.0,5.0,3.0,LinkedIn,10.0
2,U003,23,Other,7.4,6.0,7.0,1.0,3.0,YouTube,6.0
3,U004,36,Female,5.7,7.0,8.0,1.0,1.0,TikTok,8.0
4,U005,34,Female,7.0,4.0,7.0,5.0,1.0,X (Twitter),8.0

In [24]:
# droping the userid 
x.drop(columns=['User_ID'],axis=1,inplace=True)

In [25]:
x.head()

,Age,Gender,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Social_Media_Platform
0,44,Male,3.1,7.0,6.0,2.0,5.0,Facebook
1,30,Other,5.1,7.0,8.0,5.0,3.0,LinkedIn
2,23,Other,7.4,6.0,7.0,1.0,3.0,YouTube
3,36,Female,5.7,7.0,8.0,1.0,1.0,TikTok
4,34,Female,7.0,4.0,7.0,5.0,1.0,X (Twitter)

In [26]:
# categorical features
cat_fet = [fet for fet in x.columns if x[fet].dtype == "O"]
cat_fet

['Gender', 'Social_Media_Platform']

In [27]:
# nueric features
num_fet = [fet for fet in x.columns if x[fet].dtype != "O"]
num_fet

['Age',
 'Daily_Screen_Time(hrs)',
 'Sleep_Quality(1-10)',
 'Stress_Level(1-10)',
 'Days_Without_Social_Media',
 'Exercise_Frequency(week)']

In [28]:
x.head()

,Age,Gender,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Social_Media_Platform
0,44,Male,3.1,7.0,6.0,2.0,5.0,Facebook
1,30,Other,5.1,7.0,8.0,5.0,3.0,LinkedIn
2,23,Other,7.4,6.0,7.0,1.0,3.0,YouTube
3,36,Female,5.7,7.0,8.0,1.0,1.0,TikTok
4,34,Female,7.0,4.0,7.0,5.0,1.0,X (Twitter)

In [29]:
x['Social_Media_Platform'].unique()

array(['Facebook', 'LinkedIn', 'YouTube', 'TikTok', 'X (Twitter)',
       'Instagram'], dtype=object)

## Scaling and ecoding the dataset

In [30]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

fet_transformer = OneHotEncoder()
num_transformer = StandardScaler()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder",fet_transformer,cat_fet),
        ("StandardScalar",num_transformer,num_fet)
    ]
)

In [31]:
x = preprocessor.fit_transform(x)

In [32]:
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.106659,-1.402078,0.455419,-0.400921,-0.610698,1.788821
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.300281,-0.248104,0.455419,0.896557,1.004906,0.386924
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.003751,1.078965,-0.198919,0.247818,-1.149233,0.386924
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.302693,0.098088,0.455419,0.896557,-1.149233,-1.014974
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.101702,0.848171,-1.507595,0.247818,1.004906,-1.014974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.003751,0.790472,-0.853257,0.247818,0.466371,-0.314025
496,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.006163,0.040389,0.455419,-0.400921,1.004906,-0.314025
497,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.805172,1.252062,-0.853257,0.247818,-0.610698,-0.314025
498,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-1.003751,-0.767393,1.764096,0.247818,-1.687767,-0.314025
499,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.006163,0.213485,-0.853257,0.896557,-0.072164,0.386924

## Train Test Split

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=42)

In [34]:
x_train.shape,x_test.shape

((450, 15), (50, 15))

## Model Traning

In [35]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import AdaBoostRegressor,GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [36]:
def eval_model(y_test,y_pred):
    mse = mean_squared_error(y_test,y_pred)
    mae = mean_absolute_error(y_test,y_pred)
    score = r2_score(y_test,y_pred)
    return mse,mae,score

In [37]:
models = {
    "LinearRegression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "KNeighborsRegressor":KNeighborsRegressor(),
    "DecisionTreeRegressor":DecisionTreeRegressor(),
    "SupportVectorRegressor":SVR(),
    "AdaboostRegressor":AdaBoostRegressor(),
    "GradientBoostingRegressor":GradientBoostingRegressor(),
}

In [38]:
r2_list = [] # for test dataset
for m in list(models):
   model = models[m]
   model.fit(x_train,y_train)
   y_train_pred = model.predict(x_train)
   y_test_pred = model.predict(x_test)

   # for training dataset
   y_train_mse,y_train_mae,y_train_score = eval_model(y_train,y_train_pred)
   # for test dataset
   y_test_mse,y_test_mae,y_test_score = eval_model(y_test,y_test_pred)

   r2_list.append(y_test_score)

   print(f"{m}")
   print("--"*30)
   print("Traing dataset")
   print(f"Mean Squared Error:{y_train_mse}")
   print(f"Mean Absolute Error:{y_train_mae}")
   print(f"R2 score:{y_train_score}")
   print("--"*30)
   print("Test data")
   print(f"Mean Squared Error:{y_test_mse}")
   print(f"Mean Absolute Error:{y_test_mae}")
   print(f"R2 score:{y_test_score}")
   print("=="*30)
   print("\n")

LinearRegression
------------------------------------------------------------
Traing dataset
Mean Squared Error:0.7942404492696127
Mean Absolute Error:0.7190386284722222
R2 score:0.6531334574636243
------------------------------------------------------------
Test data
Mean Squared Error:0.9980776977539062
Mean Absolute Error:0.8221484375
R2 score:0.6016611998108612
============================================================


Lasso
------------------------------------------------------------
Traing dataset
Mean Squared Error:2.04102688487996
Mean Absolute Error:1.2028409447438146
R2 score:0.10862769652043258
------------------------------------------------------------
Test data
Mean Squared Error:2.326769106421127
Mean Absolute Error:1.2664245913723826
R2 score:0.07137248306947352
============================================================


Ridge
------------------------------------------------------------
Traing dataset
Mean Squared Error:0.7941175999650406
Mean Absolute Error:0.7186712241929569
R2 score:0.6531871091173131
------------------------------------------------------------
Test data
Mean Squared Error:0.9947234431352654
Mean Absolute Error:0.8206156245931855
R2 score:0.6029999029632562
============================================================


KNeighborsRegressor
------------------------------------------------------------
Traing dataset
Mean Squared Error:0.7410666666666668
Mean Absolute Error:0.6546666666666666
R2 score:0.6763559036913707
------------------------------------------------------------
Test data
Mean Squared Error:1.0584000000000002
Mean Absolute Error:0.8039999999999999
R2 score:0.5775862068965516
============================================================


DecisionTreeRegressor
------------------------------------------------------------
Traing dataset
Mean Squared Error:0.0
Mean Absolute Error:0.0
R2 score:1.0
------------------------------------------------------------
Test data
Mean Squared Error:1.78
Mean Absolute Error:1.02
R2 score:0.28959131545338446
============================================================


SupportVectorRegressor
------------------------------------------------------------
Traing dataset
Mean Squared Error:0.5762444819939159
Mean Absolute Error:0.5278718490149822
R2 score:0.7483382629168471
------------------------------------------------------------
Test data
Mean Squared Error:1.1375322747131107
Mean Absolute Error:0.8111003583915505
R2 score:0.5460040410627751
============================================================


AdaboostRegressor
------------------------------------------------------------
Traing dataset
Mean Squared Error:0.7166859820529997
Mean Absolute Error:0.7239328261908768
R2 score:0.6870036159608597
------------------------------------------------------------
Test data
Mean Squared Error:1.0078916030338996
Mean Absolute Error:0.8591852796576062
R2 score:0.5977444113051167
============================================================


GradientBoostingRegressor
------------------------------------------------------------
Traing dataset
Mean Squared Error:0.38641554690991187
Mean Absolute Error:0.46649562737040695
R2 score:0.8312417544810231
------------------------------------------------------------
Test data
Mean Squared Error:0.8632328784005056
Mean Absolute Error:0.750872480667637
R2 score:0.6554785766281508
============================================================

In [39]:
pd.DataFrame(data=list(zip(list(models),r2_list)),columns=['Model name','R2 score']).sort_values(by=['R2 score'],ascending=False )

                  Model name  R2 score
7  GradientBoostingRegressor  0.655479
2                      Ridge  0.603000
0           LinearRegression  0.601661
6          AdaboostRegressor  0.597744
3        KNeighborsRegressor  0.577586
5     SupportVectorRegressor  0.546004
4      DecisionTreeRegressor  0.289591
1                      Lasso  0.071372